body{
    margin: 0;
}
.main{
    background-color:white ;
    width: 100%;
    height: 520px;
   
}
.header{
    
    background-color:white;
    width: 100%;
    height: 60px;
   display: flex;
   border-style:groove;
   border-color:rgba(0, 0, 0, 0.068);
}
.body{
    background-color:rgb(251, 255, 251);
    height: 150px;
   
}
.one{
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.to{
    padding-left:48% ;
    margin-top: 18px;
}
.to:hover{
    color: #ceb8b8;
}
.too{
    border:0;
    border-color: white;
    background-color: white;
    cursor: pointer;
}
.too:hover{
    color: rgba(94, 94, 143, 0.39)
}
.tre{
   
    padding-left: 20px;
    margin-top: 5px;
    
}
.sfb{

    -moz-appearance: none;
    appearance: none;
    background-color: var(--color--surface-secondary);
    border: 1px solid transparent;
    border-radius: 4px;
    caret-color: #d5c3c3;
    color: #180505;
    font-family: Fakt,AvenirNext-Medium,Segoe UI,sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    padding: 8px 12px;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
}
.for{
    padding-left: 20px;
    margin-top: 14px;
}
.bt{
        background-color: #f52828;
        border: 8px solid #f52828;
        color: white;
        border-radius: 5px;
        cursor: pointer;
}
.bt:hover{
   
    background-color: red;
    border-color:red;
}
.fiv{
    padding-left: 20px;
    margin-top: 15px;

}
.lg{
    background-color: white;
    color:#555 ;
    display: inline-flex;
    border-style:none;
    border: 8px solid white;
    cursor: pointer;
}
.para1{
    font-family: 'FaktCondensed',AvenirNextCondensed-Medium,'Segoe UI',sans-serif; ;
    font-weight: 800;
    font-size: 60px;
    text-align: center;

}
.line{
    width: 390px;
    height: 11px;
    background-color: rgb(255, 0, 0);
    margin-left: 490px;
    }  
.para2{
    text-align: center;
    font-weight: 500;
   font-size: 30px;
   
}
.sin{
    font-size: large;
    border: 18px solid #f52828;
    background-color: #f52828;
    color:rgb(233, 233, 180) ;
    margin-left: 47%;
    border-radius: 5px;
    cursor: pointer;
    
}
.sin:hover{
background-color: red;
border-color: red;
}
.name{
    background-color:  var(--color--text-tertiary);;
    height: 50px;
    width: 100%;
    display: flex;
}
.name1{
   color: #555;
 padding-left: 7%;
 padding-top: 13px;
cursor: pointer;
font-weight: bold;
}
.name1:hover{
color: black;
}
.box{
   width: 100%;
   background-color: white;
   height: max-content;
   display: flex;   
}
.boxin{
width: 30%;
height: 700px;

border: 2px solid black;
margin-left: 30px;
margin-top:20px ;
border-radius: 15px;
border-color:rgba(128, 128, 128, 0.13)
}
.head{
   
    height: 60px;
    display: flex;
}
.h1{
   padding-top: 10px;
   padding-left: 10px;
    width: 70px;
    height: 60px;

}
.h1 img{
    width: 50px;
    height:50px;
border-radius: 40px;
}
.h1:hover{
    cursor: pointer;
}
.h2{
    padding-left: 10px;
}
.h2:hover{
    cursor: pointer;
}
.img{
    height: 100%;
    width: 100%;
    
    font-size: x-large;
}
.img img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
   padding-top: 10px;
}
.img:hover{
    cursor: pointer;
}
.sm{
    margin-left: 46%;
    margin-top: 30px;
    background-color: #f52828;
    border: 8px solid #f52828;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.sm:hover{
    background-color: red;
    border-color:red;
}
.footer{
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 200px;
}
.foot{
    color: #555;
   
   cursor: pointer;
   font-weight: bold;
   font-size: small;
   padding: 48px 16px 64px;
   display: block;
   
}
#fb{
    text-align: center;
}